/* Color Practice */

.colors-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

.colors-practice .background-color h1 {
    background-color: rgba(175, 23, 64, 0.7);
    color: #FFF6E3;
}
.colors-practice .background-color p {
    background-color: hsla(359, 60%, 68%, 0.7);
    color: #FFF6E3;
}

.text-color h1 {
    color: #133E87;
}
.text-color p {
    color: #608BC1;
}

.border-color h1 {
    border: 5px solid #3ea303;
}
.border-color p {
    border: 5px solid #859F3D;
}

/* Background Practice */

.background-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

.background-practice .background-color p {
    background-color: #9963c8;
}

#bg-color2 {
    opacity: 0.6;
}
/* When using the opacity property to add transparency to the background of an element, 
all of its child elements inherit the same transparency. This can make the text inside a fully transparent element hard to read. 
If you do not want to apply opacity to child elements, use RGBA color values.*/

.background-image {
    padding-right: 250px ;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoVJGk9nc5LhuuOhWNtvqc-UQJNkSp3_vJw&s);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

/* Border Practice */

.border-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

#border-p1 {
    border-style: dotted;
    border-width: 10px;
}

#border-p2 {
    border-style: solid;
    border-width: 10px 20px 30px 3px;
}

#border-p3 {
    border-style: dashed;
    border-width: 6px;
    border-color: #FF76CE #4793AF #A1EEBD;
}

#border-p4 {
    border-style: double dashed dotted solid;
    border-top-color: lightskyblue;
    border-left-color: red;
    border-right-color: orange;
    border-bottom-color: seagreen;
    border-width: 8px 8px 8px 10px;
}

#border-p5 {
    border: 3px solid rgb(15, 151, 235);
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(135, 206, 250, 0.796);
}

/* Margin Practice */

.margin-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

#margin-p1 {
    border: 1px solid black;
    background-color: lightblue;
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 120px;
    margin-left: 80px;
}
#margin-p2 {
    border: 1px solid black;
    background-color: lightblue;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: auto;
} 
/* You can set the margin property to auto value to horizontally center the element within its container. */
/* Inherit value lets the margin inherit its value from its parent element */

#margin-h1 {
    border: 1px solid black;
    background-color: lightblue;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 0 0 50px 0;
} 

#margin-h2 {
    border: 1px solid black;
    background-color: lightblue;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 20px 0 0 0;
}

/* Padding Practice */

.padding-practice {
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
}

#padding-div1 {
    background-color: yellow;
    width: 300px;
}

#padding-div2 {
    background-color: lightblue;
    width: 300px;
    padding: 25px;
}

#padding-div3 {
    background-color: #6dbddb;
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
}

/* Height, Width Practice */

.height-width-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#wid-hei-outside-div1 {
    background-color: yellow;
    height: 300px;
    width: 80%;
    margin-top: 20px;
}

#wid-hei-inside-div1 {
    background-color: lightblue;
    height: 200px;
    width: 50%;
}

#wid-hei-outside-div2 {
    background-color: yellow;
    height: 120px;
    width: 550px;
    margin-top: 20px;
}

#wid-hei-inside-div2 {
    background-color: lightblue;
    height: 100px;
    width: 500px;
}

#wid-hei-outside-div3 {
    background-color: yellow;
    height: 150px;
    max-width: 550px;
    margin-top: 20px;
}

#wid-hei-inside-div3 {
    background-color: lightblue;
    height: 100px;
    max-width: 500px;
}

/* Box Model */

.box-model-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#box-model {
    width: 300px;
    background-color: lightskyblue;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#box-model2 {
    border: 5px solid grey;
    width: 320px;
    height: 60px;
    padding: 10px;
}

.text-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#div-body-for-textcolor {
    background-color: rgb(185, 180, 180);
    color: #0716f0;
}

#textcolor-h1 {
    background-color: yellowgreen;
    color: #1f5301;
}

#textcolor-p2 {
    background-color: rgb(247, 238, 143);
    color: #f007d1;
}

#text-align {
    background-color: rgb(227, 224, 224);
}

#textalign-h1 {
    text-align: center;
}

#textalign-h2 {
    text-align: left;
}

#textalign-h3 {
    text-align: right;
}

#textalign-p1 {
    border: 1px solid black;
    padding: 8px;
    margin: 8px;
    width: 200px;
    height: 200px;
    text-align: justify;
}

#textalignlast-p1 {
    text-align-last: right;
}

#textalignlast-p2 {
    text-align-last: center;
}

#textalignlast-p3 {
    text-align-last: justify;
}

#textaligndirection-p1 {
    font-weight: bold;
    direction: ltr;
}

#textaligndirection-p2 {
    font-weight: bold;
    direction: rtl;
}

#textaligndirection-p3 {
    font-weight: bold;
    direction: rtl;
    unicode-bidi: bidi-override;
}

#textalignverticalimage-p1 {
    vertical-align: baseline;
}

#textalignverticalimage-p2 {
    vertical-align: text-top;
}

#textalignverticalimage-p3 {
    vertical-align: super;
}

#textalignverticalimage-p4 {
    vertical-align: text-bottom;
}

#textalignverticalimage-p5 {
    vertical-align: sub;
}