/* Color Practice */

.topic-heading {
    text-align: center;
    color: #A66E38;
    background-color: #FFAD60;
    font-size: 50px;
    padding: 5px;
    margin: 50px auto 50px auto;
    width: 300px;
}


.colors-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

.colors-practice .background-color h1 {
    background-color: rgba(175, 23, 64, 0.7);
    color: #FFF6E3;
}

.colors-practice .background-color p {
    background-color: hsla(359, 60%, 68%, 0.7);
    color: #FFF6E3;
}

.text-color h1 {
    color: #133E87;
}

.text-color p {
    color: #608BC1;
}

.border-color h1 {
    border: 5px solid #3ea303;
}

.border-color p {
    border: 5px solid #859F3D;
}

/* Background Practice */

.background-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

.background-practice .background-color p {
    background-color: #9963c8;
}

#bg-color2 {
    opacity: 0.6;
}

/* When using the opacity property to add transparency to the background of an element, 
all of its child elements inherit the same transparency. This can make the text inside a fully transparent element hard to read. 
If you do not want to apply opacity to child elements, use RGBA color values.*/

.background-image {
    padding-right: 250px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZoVJGk9nc5LhuuOhWNtvqc-UQJNkSp3_vJw&s);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

/* Border Practice */

.border-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

#border-p1 {
    border-style: dotted;
    border-width: 10px;
}

#border-p2 {
    border-style: solid;
    border-width: 10px 20px 30px 3px;
}

#border-p3 {
    border-style: dashed;
    border-width: 6px;
    border-color: #FF76CE #4793AF #A1EEBD;
}

#border-p4 {
    border-style: double dashed dotted solid;
    border-top-color: lightskyblue;
    border-left-color: red;
    border-right-color: orange;
    border-bottom-color: seagreen;
    border-width: 8px 8px 8px 10px;
}

#border-p5 {
    border: 3px solid rgb(15, 151, 235);
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(135, 206, 250, 0.796);
}

/* Margin Practice */

.margin-practice {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

#margin-p1 {
    border: 1px solid black;
    background-color: lightblue;
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 120px;
    margin-left: 80px;
}

#margin-p2 {
    border: 1px solid black;
    background-color: lightblue;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: auto;
}

/* You can set the margin property to auto value to horizontally center the element within its container. */
/* Inherit value lets the margin inherit its value from its parent element */

#margin-h1 {
    border: 1px solid black;
    background-color: lightblue;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 0 0 50px 0;
}

#margin-h2 {
    border: 1px solid black;
    background-color: lightblue;
    width: 300px;
    height: 150px;
    text-align: center;
    margin: 20px 0 0 0;
}

/* Padding Practice */

.padding-practice {
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
}

#padding-div1 {
    background-color: yellow;
    width: 300px;
}

#padding-div2 {
    background-color: lightblue;
    width: 300px;
    padding: 25px;
}

#padding-div3 {
    background-color: #6dbddb;
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
}

/* Height, Width Practice */

.height-width-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#wid-hei-outside-div1 {
    background-color: yellow;
    height: 300px;
    width: 80%;
    margin-top: 20px;
}

#wid-hei-inside-div1 {
    background-color: lightblue;
    height: 200px;
    width: 50%;
}

#wid-hei-outside-div2 {
    background-color: yellow;
    height: 120px;
    width: 550px;
    margin-top: 20px;
}

#wid-hei-inside-div2 {
    background-color: lightblue;
    height: 100px;
    width: 500px;
}

#wid-hei-outside-div3 {
    background-color: yellow;
    height: 150px;
    max-width: 550px;
    margin-top: 20px;
}

#wid-hei-inside-div3 {
    background-color: lightblue;
    height: 100px;
    max-width: 500px;
}

/* Box Model */

.box-model-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#box-model {
    width: 300px;
    background-color: lightskyblue;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

#box-model2 {
    border: 5px solid grey;
    width: 320px;
    height: 60px;
    padding: 10px;
}

/* Text Practice */

.text-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#div-body-for-textcolor {
    background-color: rgb(185, 180, 180);
    color: #0716f0;
}

#textcolor-h1 {
    background-color: yellowgreen;
    color: #1f5301;
}

#textcolor-p2 {
    background-color: rgb(247, 238, 143);
    color: #f007d1;
}

#text-align {
    background-color: rgb(227, 224, 224);
}

#textalign-h1 {
    text-align: center;
}

#textalign-h2 {
    text-align: left;
}

#textalign-h3 {
    text-align: right;
}

#textalign-p1 {
    border: 1px solid black;
    padding: 8px;
    margin: 8px;
    width: 200px;
    height: 200px;
    text-align: justify;
}

#textalignlast-p1 {
    text-align-last: right;
}

#textalignlast-p2 {
    text-align-last: center;
}

#textalignlast-p3 {
    text-align-last: justify;
}

#textaligndirection-p1 {
    font-weight: bold;
    direction: ltr;
}

#textaligndirection-p2 {
    font-weight: bold;
    direction: rtl;
}

#textaligndirection-p3 {
    font-weight: bold;
    direction: rtl;
    unicode-bidi: bidi-override;
}

#textalignverticalimage-p1 {
    vertical-align: baseline;
}

#textalignverticalimage-p2 {
    vertical-align: text-top;
}

#textalignverticalimage-p3 {
    vertical-align: super;
}

#textalignverticalimage-p4 {
    vertical-align: text-bottom;
}

#textalignverticalimage-p5 {
    vertical-align: sub;
}

#text-decoration {
    background-color: rgb(236, 231, 182);
    padding: 8px;
}

#textdecoration-p1 {
    text-decoration-line: overline;
    text-decoration-color: rebeccapurple;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
}

#textdecoration-p2 {
    text-decoration-line: line-through;
    text-decoration-color: rebeccapurple;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
}

#textdecoration-p3 {
    text-decoration-line: underline;
    text-decoration-color: rebeccapurple;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
}

#textdecoration-p4 {
    text-decoration-line: overline underline;
    text-decoration-color: rebeccapurple;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}

#textdecoration-p5>a {
    text-decoration: none;
    color: red;
    font-style: italic;
}

#textdecoration-p5 {
    text-decoration: underline rgb(146, 214, 166) double 2px;
    font-weight: bold;
}

#text-transformation {
    background-color: #d8fefcae;
    padding: 5px;
}

#texttransformation-p1 {
    text-transform: uppercase;
}

#texttransformation-p2 {
    text-transform: lowercase;
}

#texttransformation-p3 {
    text-transform: capitalize;
}

#text-spacing {
    background-color: rgba(228, 254, 220, 0.778);
    padding: 5px;
}

#text-indent {
    text-indent: 50px;
}

#letterspacing-h1 {
    letter-spacing: 5px;
}

#letterspacing-h2 {
    letter-spacing: -2px;
}

#lineheight-smaller {
    line-height: 0.8;
}

#lineheight-bigger {
    line-height: 1.8;
}

#wordspace-big {
    word-spacing: 8px;
}

#wordspace-small {
    word-spacing: -3px;
}

#white-space {
    white-space: nowrap;
}

#text-shadow {
    background-color: #afe3f6;
    padding: 5px;
}

#textshadow-h1 {
    text-shadow: 2px 0px 4px red;
}

/* first write horizontal shadow, then vertical shadow, then blur effect then color */

#textshadow-h2 {
    text-shadow: 0px 0px 4px orangered, 1px 0px 6px yellow;
}

#textshadow-h3 {
    text-shadow: 0px 0px 8px rgba(6, 227, 54, 0.795), 1px 1px 8px rgba(230, 126, 29, 0.848), 0px 3px 3px rgb(1, 1, 255);
}

/* You can also add 2,3 dofferent color effets */

/* Fonts Practice */

.font-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#websafe-fonts {
    background-color: #eddaf6a9;
}

#websafefonts-p1 {
    font-family: Arial, Helvetica, sans-serif;
    /* Helvetica is fallback font */
}

#websafefonts-p2 {
    font-family: Verdana, Tahoma, sans-serif;
    /* Tahoma is fallback font */
}

#websafefonts-p3 {
    font-family: Tahoma, sans-serif;
}

#websafefonts-p4 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    /* Arial is fallback font */
}

#websafefonts-p5 {
    font-family: 'Times New Roman', Times, serif;
    /* Times is fallback font */
}

#websafefonts-p6 {
    font-family: Georgia, serif;
}

#websafefonts-p7 {
    font-family: Garamond, serif;
}

#websafefonts-p8 {
    font-family: 'Courier New', Courier, monospace;
    /* Courier is fallback font */
}

#websafefonts-p9 {
    font-family: 'Brush script MT', cursive;
}

/* Fallback fonts means that  that you should add a list of similar "backup fonts" in the font-family property. 
If the first font does not work, the browser will try the next one, and the next one, and so on. Always end the list with a generic font family name. 
(like in p1, p2, p4, p5, p8)
*/

#font-style-weight-variant {
    background-color: #c3d1f78e;
}

#fontstyle-p1 {
    font-style: normal;
}

#fontstyle-p2 {
    font-style: italic;
}

#fontstyle-p3 {
    font-style: oblique;
}

#fontweightp1 {
    font-weight: normal;
}

#fontweight-p2 {
    font-weight: bold;
}

#fontweight-p3 {
    font-weight: 900;
}

#fontweight-p4 {
    font-weight: lighter;
}

#fontvariant-p1 {
    font-variant: normal;
}

#fontvariant-p2 {
    font-variant: small-caps;
}

#font-size {
    background-color: #f8ebe1;
}

#fontsize-h1 {
    font-size: 40px;
    /* The default size of heading in pixel is 32px*/
}

#fontsize-p1 {
    font-size: 25px;
    /* The default size of paaragraph in pixel is 16px */
}

/* to get the em value with pixel, multiply pixel by 0.0625 or divide wanted pixel with 16px */

#fontsize-h2 {
    font-size: 2.5em;
    /* 40px / 16=2.5em */
}

#fontsize-p2 {
    font-size: 1.25em;
    /* The default size of paragraph in em is 1 (1em= 16px) | (0.0625 x 20px) */
}

#div-body-for-font {
    font-size: 100%;
}

#fontsize-h3 {
    font-size: 2.5em;
}

#fontsize-p3 {
    font-size: 1.25em;
}

#font-family {
    background-color: #d1f4bdb7;
}

#sofia-font {
    font-family: 'Sofia', sans-serif;
}

#audiowide-font {
    font-family: 'Audiowide', sans-serif;
}

#styling-googlefonts {
    font-family: 'Trirong', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 6px rgb(255, 85, 85);
}

.font-effect-fire {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.font-effect-neon {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.font-effect-outline {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.font-effect-emboss {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.font-effect-shadow-multiple {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

#font-pairing {
    background-color: hsla(28, 100%, 92%, 0.822);
}

/* Georgia and Verdana */

#fontpair-1 >h1 {
    font-family: Georgia, serif;
    font-size: 46px;
}

#fontpair-1 >p {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

/* Google Fonts Pairings */

/* Ubuntu and Lora */

#fontpair-2 >h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 46px;
}

#fontpair-2 >p {
    font-family: Lora, serif;
    font-size: 16px;
}

/* Abril Fatface and Poppins */

#fontpair-3 >h1 {
    font-family: 'Abril Fatface' , serif;
    font-size: 46px;
}

#fontpair-3 >p {
    font-family: poppins , sans-serif;
    font-size: 16px;
}

/* font shorthand */

#fontshorthand-p1 {
    font: italic small-caps bold 20px/30px 'ubuntu', sans-serif;
}

/* Icons Practice */

.icons-practice {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

/* Pseudo Classes Practice */

.pseudo-class-practice {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

#anchor-pseudo > p > b > a:link {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

#anchor-pseudo > p > b > a:visited {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}

#anchor-pseudo p b a:hover {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}

#anchor-pseudo > p > b > a:active {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}

#pseudoandhtml-elements > p > a.profile:hover {
    color: rgb(255, 98, 125);
    font-size: 20px;
}

#hoverondiv-div1 {
    background-color: #3ea303;
    font-size: 29px;
    padding: 25px;
    text-align: center;
    color: white;
}

#hoverondiv-div1:hover {
    background-color: #0716f0;
}

#tooltip-hover div {
    font: bold 20px georgia, serif;
}

#tooltip-hover div p {
    background-color: yellow;
    text-align: center;
    font: italic 20px verdana, sans-serif;
    padding: 20px;
    display: none;
}

#tooltip-hover div:hover p {
    display: block;
}

#div-body-for-pseudoclass-div1 p:first-child{
    color: blue;
}
/* every <p> who is the first child will have this effect */

#div-body-for-pseudoclass-div2 p i:first-child {
    color: #0716f0;
}

/* every <i> who is the first child of p will have this effect */

#div-body-for-pseudoclass-div3 p:first-child i {
    color: #0716f0;
}

/* every <i> who is in <p> that are the first child , will have this effect */

#lang-pseudoclass q:lang(no) {
    quotes: "~""~";
}